@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="vitals">
		<p>@Player.Health HP</p>
	</div>

	<div class="bars">
		<div class="healthbar">
				<div class="inner">
					<div class="fill" style="width: @(Player.Health / Player.MaxHealth * 100f)%"</div>
				</div>
		</div>
	</div>
</root>

@code
{

	[Property] UnitInfo Player { get; set; }

	protected override int BuildHash()
	{
		return System.HashCode.Combine("");
	}
}
