Hud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 24px;

	.crosshair {
		position: absolute;
		top: 60%;
		left: 46.5%;
		transform: translate(-50%, -50%);
		width: 20px; /* ajustez la taille du viseur selon vos besoins */
		height: 20px; /* ajustez la taille du viseur selon vos besoins */
		border: 2px solid white;
	}

	> .vitals {
		position: absolute;
		bottom: 144px;
		left: 32px;
		font-size: 64px;
		font-weight: bold;
		text-stroke: 8px black;
		color: white;
	}

	> .bars {
		position: absolute;
		bottom: 32px;
		left: 32px;
		flex-direction: column;

		> .manabar {
			width: 375px;
			height: 48;
			margin-top: 8px; /* positionnement plus bas */
			background-color: rgb(41, 41, 41);
			padding: 8px;


			> .inner {
				background-color: rgb(46, 46, 46);
				flex-grow: 1;

				> .fill {
					height: 100%;
					background-color: blue; /* Couleur de la barre de mana */
				}
			}
		}

		> .healthbar {
			width: 500px;
			height: 64px;
			background-color: rgb(41,41,41);
			padding: 8px;

			> .inner {
				background-color: rgb(46,46,46);
				flex-grow: 1;

				> .fill {
					height: 100%;
					background-color: red;
				}
			}
		}
	}


	.fist {
		position: absolute;
		bottom: 10%;
		right: 3%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fist img {
		width: 250%; /* Ajustez cette valeur selon la taille désirée */
		height: 250%; /* Ajustez cette valeur selon la taille désirée */
	}

	.magic {
		position: absolute;
		bottom: 10%;
		right: 3%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.magic img {
		width: 200%; /* Ajustez cette valeur selon la taille désirée */
		height: 200%; /* Ajustez cette valeur selon la taille désirée */
	}
}
