Hud 
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 24px;

	> .vitals 
	{
		position: absolute;
		bottom: 128px;
		left: 32px;
		font-size: 64px;
		font-weight: bold;
		text-stroke: 8px black;
		color: white;
	}

	> .bars 
	{
		position: absolute;
		bottom: 32px;
		left: 32px;

		> .healthbar
		{
				width: 500px;
				height: 64px;
				background-color: rgb(41,41,41);
				padding: 8px;

				> .inner
				{
					background-color: rgb(46,46,46);
					flex-grow: 1;

					> .fill
					{

					}
				}
		}
	}
}




